@mixin magnetic-tile {
  &.lv1 {
    --magnetic-tile-size: 60px;
  }

  &.lv2 {
    --magnetic-tile-size: 90px;
  }

  &.lv3 {
    --magnetic-tile-size: 120px;
  }

  &.lv4 {
    --magnetic-tile-size: 150px;
  }

  &.lv5 {
    --magnetic-tile-size: 180px;
  }

  &.lv6 {
    --magnetic-tile-size: 210px;
  }

  // &. minimize ultimate {
  &.lv7 {
    --magnetic-tile-size: 240px;
  }

  // &.rectangle {
  //   &.horizontal {
  //     // rectangle horizontal时 使用scss 数学函数计算获取 16/9 比例的最终宽度
  //     grid-template-columns: repeat(auto-fill, calc(var(--magnetic-tile-size, 60px) * 16 / 9));
  //   }
  // }

  // &:not(.rectangle),
  // &.rectangle {
  //   &.vertical {
  //     grid-template-columns: repeat(auto-fill, var(--magnetic-tile-size));
  //   }
  // }

  transition:
    width 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
    height 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
    row-gap 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
    column-gap 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
