:root {
  --magnetic-tile-size: 60px;
  --magnetic-tile-row-gap: 30px;
  --magnetic-tile-col-gap: 30px;
  --magnetic-tile-round: 12px;
  --magnetic-tile-text-color: #000000;
  --magnetic-tile-overlay-round: 8px;
}
