:root {
  --magnetic-tile-global-row-gap: 30px;
  --magnetic-tile-global-col-gap: 30px;
  --magnetic-tile-global-round: 12px;
  --magnetic-tile-global-text-size: 13px;
  --magnetic-tile-global-text-color: #000000;
  --magnetic-tile-global-overlay-round: 8px;
}
