:root {
  --application-global-row-gap: 30px;
  --application-global-col-gap: 30px;
  --application-global-round: 12px;
  --application-global-text-size: 13px;
  --application-global-text-color: #000000;
  --application-global-overlay-round: 8px;

  --ant-modal-content-padding: 20px;
}
