/* color palette from <https://github.com/vuejs/theme> */
:root {
	--app-global-width: 60px;
	--app-global-height: 60px;
	--app-global-row-gap: 30px;
	--app-global-col-gap: 30px;
	--app-global-round: 12px;
	--app-global-text-size: 13px;
	--app-global-text-color: #fff;
}
