# 服务器配置
HOST=127.0.0.1
PORT=3000

# MongoDB 配置
MONGODB_URI=mongodb://localhost:27017

# 通用密钥
SECRET=MJi#i!7BLQQMGh6PXVuZ@*0Aqv7c5S&It!fjFzGaPj$pbfo7%Z2LAyedNwW@S&nX

# Auth 认证系统配置
Encryption=argon2

JWT_SECRET=Nq^UwVyAG5GjLpVsg&X&L$$2RCRnjinUwbuScn6VBUAJCJkD#bO4M77o9Hf&FjCu

AES_KEY=m6bTj1p4aT5jWNfOM9FxYMhqzLPQWg96WpdPakb2v9E=

# 日志配置（可选）
# RUST_LOG=info