{
	"{!(package)*.json,*.code-snippets,.!({browserslist,npm,nvm})*rc},!node-version": [
		"prettier --cache --write--parser json"
	],
	"*.{css,scss,html}": ["prettier --cache --ignore-unknown --write"],
	"*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
	"*.md": ["prettier --cache --ignore-unknown --write"],
	"*.vue": ["prettier --write", "eslint --cache --fix"],
	"package.json": ["prettier --cache --write"]
}
