# npm 镜像源
registry=https://registry.npmmirror.com/

# electron 相关镜像配置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# node-sass 的淘宝镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/

# 其他常用二进制包镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors

# pnpm 特定配置
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true