.overlay {
  &.root {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;

    :global {
      .ant-modal-container {
        padding: 0;
      }

      #monacoGraph {
        width: 100%;
        height: 100%;
      }
      .monaco-editor {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.workspace {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
