.composer {
  &.markdown {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-height: 0px;
    overflow: hidden scroll;
    padding-inline-start: 75px;
    margin-top: 10px;

    :global {
      .tiptap {
        &.ProseMirror {
          width: 100%;
          height: 100%;
          //     * {
          //       user-select: text;
          //       font-family:
          //         'MesloLGM Nerd Font Mono Display', Consolas, 'Liberation Mono',
          //         Menlo, Courier, monospace;
          //       @extend %normalize;
          //     }
          //     // &.ProseMirror-focused {
          //     //   outline: none;
          //     // }
        }
      }
    }
  }
}
