@use 'sass:math';

$size-y: 38px;

.utility {
  &.root {
    height: $size-y;
    // background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  &.combobox-trigger {
    width: 360px;
    height: $size-y - 10px;
    line-height: $size-y - 10px;
    padding-block: 0px;
  }

  &.button {
    --ant-btn-border-width: 0px;
    --ant-button-default-hover-bg: rgba(0, 0, 0, 0.04);
    --ant-button-default-active-bg: rgba(0, 0, 0, 0.04);
    --ant-btn-border-color-hover: transparent;
    background-color: transparent;

    height: $size-y;
    aspect-ratio: 4/3;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.minimize {
    }

    &.maximize {
    }

    &.close {
      &:hover {
        color: #ffffff;
        background-color: #c42b1c;
      }
    }
  }
}
