.calendar-marker {
  &.mini {
    display: flex;

    color: #000000;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;

    .ant-picker-calendar {
      width: 100%;
      height: 100%;
    }
    // color: var(--application-text-color);
    // font-size: var(--application-text-size);

    &.square {
      align-items: center;
      justify-content: center;

      &.horizontal {
      }
      &.vertical {
      }
    }

    &.circle {
      align-items: center;
      justify-content: center;

      &.horizontal {
      }

      &.vertical {
      }
    }

    &.rectangle {
      align-items: center;
      justify-content: space-evenly;

      .time-text {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
      }

      &.horizontal {
        flex-direction: row;
      }

      &.vertical {
        flex-direction: column;
      }
    }
  }
}
