@use 'sass:math';

$utility-height: 35px;

.utility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, $utility-height);
  position: relative;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  z-index: 1;
  padding-inline: 0px 135px;
}

.button {
  --ant-btn-border-width: 0px;
  --ant-button-default-hover-bg: #d6dcde;
  --ant-btn-border-color-hover: transparent;
  --ant-button-default-active-bg: #d6dcde;

  width: env(titlebar-area-height, $utility-height);
  height: env(titlebar-area-height, $utility-height);
  padding: 0px;
  color: #000000;
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 150ms;

  &:not(:disabled):not(.ant-btn-disabled):hover {
    --ant-btn-bg-color-hover: rgb(211, 221, 224);
  }
}
