@use './space' as *;

.overview {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: initial;
  scrollbar-width: none;
  overflow: visible;
}

.prefix {
  flex: none;
  height: $prefix-height;
  margin: 0;
  padding: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
