.drag-handle {
  transition-property: top;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: var(--drag-handle-main-axis-offset, 16px);
    height: 100%;
    pointer-events: auto;
  }
}
