.marker {
  &.lv6 {
    &.square {
      &.horizontal {
        padding: 16px;
        .digit, .colon, .minimalTime, .flipCard { font-size: 48px; }
        .date, .week { font-size: 13px; }
        .analogFace { width: min(46%, 190px); }
      }
      &.vertical {
        padding: 16px;
        .digit, .colon, .minimalTime, .flipCard { font-size: 48px; }
        .date, .week { font-size: 13px; }
        .analogFace { width: min(46%, 190px); }
      }
    }
    &.circle {
      &.horizontal {
        padding: 16px;
        .digit, .colon, .minimalTime, .flipCard { font-size: 32px; }
        .analogFace { width: min(50%, 180px); }
      }
      &.vertical {
        padding: 16px;
        .digit, .colon, .minimalTime, .flipCard { font-size: 32px; }
        .analogFace { width: min(50%, 180px); }
      }
    }
    &.rectangle {
      &.horizontal {
        padding: 16px 22px;
        .digit, .colon, .minimalTime, .flipCard { font-size: 56px; }
        .date, .week { font-size: 14px; }
        .analogFace { width: min(22%, 190px); }
      }
      &.vertical {
        padding: 16px 14px;
        .digit, .colon, .minimalTime, .flipCard { font-size: 44px; }
        .date, .week { font-size: 13px; }
        .analogFace { width: min(44%, 200px); }
      }
    }
  }
}
