$round: 4px;
$background: #ffffff;

.combobox {
  border-radius: $round;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition:
    border-radius 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.28s cubic-bezier(0.22, 1, 0.36, 1);

  &.is-active {
    border-radius: $round $round 0px 0px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  &:not(.is-active) {
  }
}

.combobox-composer {
  height: 100%;
  display: flex;
  align-items: center;
  // padding-block: 4px;
  // padding-inline: 12px;
}

.combobox-trigger {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  line-height: calc(100% - 8px);
  padding-inline: 10px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;

  &:not(:disabled):hover {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}

.combobox-section {
  width: 100%;
  padding-block: 8px;
  padding-inline-start: 8px;
  padding-inline-end: 2px;
  position: absolute;
  border-radius: 0px 0px $round $round;
  top: var(--combobox-section-offset);
  background-color: $background;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  // top: 100%;
  margin-top: 0;

  // 关键：大幅弱化独立阴影，让它与上方融为一体
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.combobox-series {
  max-height: 360px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-inline-end: 2px;
}

.combobox-fragment {
  padding-inline: 6px;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &.is-active {
    background-color: rgba($color: #000000, $alpha: 0.04);
  }
}
