@use '@/styles/normalize.scss' as *;

.overlay {
  &.root {
  }

  &.section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    * {
      user-select: text;
    }
  }

  .composer {
    &.markdown {
      :global {
        .tiptap.ProseMirror {
          * {
            @extend %normalize;
            font-family:
              'MesloLGM Nerd Font Mono Display', Consolas, 'Liberation Mono', Menlo, Courier,
              monospace;
          }

          &.ProseMirror-focused {
            outline: none;
          }
        }
      }
    }
  }

  .textarea {
    width: 100%;
    height: 300px;
  }
}
