@use '@/styles/normalize.scss' as *;

.overlay {
  &.root {
  }

  &.section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
}

.composer {
  &.markdown {
    font-size: 16px;

    .tiptap {
      &.ProseMirror {
        * {
          user-select: text;
          font-family:
            'MesloLGM Nerd Font Mono Display', Consolas, 'Liberation Mono',
            Menlo, Courier, monospace;
          @extend %normalize;
        }
        // &.ProseMirror-focused {
        //   outline: none;
        // }
      }
    }
  }
}
