@use '@/styles/normalize.scss' as *;

.overlay {
  &.root {
    overflow: hidden;

    :global {
      .ant-modal-container {
        padding: 0;
      }
    }
  }
}

.workspace {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.overlay {
  &.legacyRoot {
    :global {
      .ant-modal-container {
        padding-block: 20px;
        padding-inline: 30px 20px;
      }
    }
  }

  &.section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    // row-gap: 20px;
  }
}

.composer {
  &.markdown {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-height: 0px;
    overflow: hidden scroll;
    padding-inline-start: 50px;
    margin-top: 10px;

    :global {
      .tiptap {
        &.ProseMirror {
          width: 100%;
          height: 100%;
          //     * {
          //       user-select: text;
          //       font-family:
          //         'MesloLGM Nerd Font Mono Display', Consolas, 'Liberation Mono',
          //         Menlo, Courier, monospace;
          //       @extend %normalize;
          //     }
          //     // &.ProseMirror-focused {
          //     //   outline: none;
          //     // }
        }
      }
    }
  }
}
