.composer {
  &.context {
    :global {
      .button-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        column-gap: 8px;
      }
    }

    button {
      text-wrap: nowrap;
      padding: 3px 4px;
      background-color: #4080ff;
    }
  }
}
