.controller {
  &.mirror {
    width: 100%;
    height: 100%;
    // scrollbar-width: none;
    overflow: hidden scroll;
  }

  &.magnetic-tile {
    display: grid;
    padding: 20px;
    margin: 0 auto;
    outline: none;
    // scrollbar-width: none;
    justify-content: center;
    grid-auto-flow: row dense;
    row-gap: var(--magnetic-tile-gap-y, 30px);
    column-gap: var(--magnetic-tile-gap-x, 30px);
    grid-template-columns: repeat(auto-fill, calc(var(--magnetic-tile-size, 60px)));
  }
}
