$size-y: 32px;

.summary {
  &.root {
    width: 100%;
    height: $size-y;
    text-align: center;
    padding-inline: 8px;
    border-radius: 0px;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }
}
