$size-y: 32px;

.utility {
  &.root {
    height: $size-y;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  &.combobox-trigger {
    width: 360px;
    height: $size-y - 8px;
    line-height: $size-y - 8px;
    padding-block: 0px;
  }
}
