@use 'sass:math';

.application {
	cursor: pointer;
	position: relative;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	background: var(--app-background);
	width: var(--app-size-width);
	grid-row: var(--app-grid-row);
	height: var(--app-size-height);
	border-radius: var(--app-round);
	grid-column: var(--app-grid-column);

	// display: flex;
	// flex-direction: column;
	// row-gap: 12px;

	transition:
		box-shadow 300ms,
		width 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
		height 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
		grid-row 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
		grid-column 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

	& > .name {
		width: 100%;
		display: block;
		color: #000000;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-wrap: nowrap;
		word-break: normal;
		word-wrap: break-word;
		line-height: 1;
		text-align: center;
		margin-block-start: 6px;
	}

	& > .trash {
		$size: 16px;

		&.marker {
			position: absolute;
			top: 0 - math.div($size, 3);
			right: 0 - math.div($size, 3);
			width: $size;
			height: $size;
			background-color: rgba(255, 0, 0, 0.5);
			border-radius: math.div($size, 2);
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: $size;
			line-height: 1;
			cursor: pointer;
			z-index: 10;
		}
	}

	& > .marker {
		width: 100%;
		height: 100%;
		overflow: hidden;

		// flex-grow: 1;
		// flex-shrink: 1;
		// flex-basis: 0%;

		// 暂时样式
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// & > .demo {
	// 	background-color: #000000;
	// }

	// & > .overlay {
	// 	width: 80% !important;
	// 	background-color: red;
	// width: 70%;
	// aspect-ratio: 16 / 9;
	// }
}
