.application {
	cursor: pointer;
	position: relative;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	background: var(--app-background);
	width: var(--app-size-width);
	grid-row: var(--app-grid-row);
	height: var(--app-size-height);
	border-radius: var(--app-round);
	grid-column: var(--app-grid-column);

	transition:
		box-shadow 300ms,
		width 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
		height 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
		grid-row 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
		grid-column 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

	.overlay {
	}

	.marker {
		width: 100%;
		height: 100%;

		// 暂时样式
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
