.screenshot {
  width: 100%;
  height: 100%;

  &.root {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  &.overlay {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    border: 1px dashed #4080ff;
    will-change: width, height, top, left;
    // transition:
    //   top 30ms linear,
    //   left 30ms linear,
    //   width 30ms linear,
    //   height 30ms linear;
    background-color: rgba($color: #3398db, $alpha: 0.2);
  }
}
