@use 'mini.scss' as *;
@use 'small.scss' as *;
@use 'medium.scss' as *;
@use 'large.scss' as *;
@use 'huge.scss' as *;
@use 'massive.scss' as *;
@use 'ultra.scss' as *;

.marker {
}

.avatar {
  width: 100%;
  height: 100%;
  font-size: 1em;
  background: transparent;
  color: inherit;
}
