.app-calendar-icon {
  &.medium {
    &.square {
      &.horizontal {
        .ant-picker-calendar {
          @apply w-full h-full;
        }

        :deep(.ant-picker-panel) {
          @apply w-full h-full rounded-lg;
        }

        :deep(.ant-picker-date-panel) {
          @apply w-full h-full;
        }

        :deep(.ant-picker-body) {
          @apply w-full h-full p-1;
        }

        :deep(.ant-picker-content) {
          @apply h-full block space-y-[2px];
        }

        :deep(thead) {
          @apply w-full block;

          tr {
            @apply w-full h-full grid grid-cols-7 gap-x-[2px];
          }

          tr th {
            @apply w-full block text-xs text-[#606266];
          }
        }

        :deep(tbody) {
          @apply w-full h-[calc(100%-18px)] grid grid-rows-6 gap-y-[2px];

          tr {
            @apply w-full h-full grid grid-cols-7 gap-x-[2px];
          }

          .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(
              .ant-picker-cell-range-start
            ):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(
              .ant-picker-cell-range-hover-end
            )
            .ant-picker-cell-inner {
            @apply text-white bg-black;
          }

          tr .ant-picker-cell {
            min-height: initial;
            min-width: initial;
            @apply w-full block p-0;
          }

          .ant-picker-cell-disabled::before {
            @apply bg-transparent;
          }

          .ant-picker-cell.ant-picker-cell-today {
            .ant-picker-cell-inner {
              &::before {
                box-shadow: 0px 0px 0px 1px #0b57d0ff;
              }
            }
            .ant-picker-calendar-date-value {
              @apply text-white;
            }
          }

          .ant-picker-cell.ant-picker-cell-selected {
            .ant-picker-calendar-date-value {
              @apply text-white;
            }
          }

          .ant-picker-cell-inner {
            @apply w-full h-full;
            display: flex;
            min-width: initial;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            box-shadow: 0px 0px 0px 0px #0b57d0ff;
            transition:
              color 300ms,
              box-shadow 300ms,
              background-color 150ms;

            &::before {
              border: none;
            }
          }
          .ant-picker-calendar-date-value {
            @apply h-full text-xs text-black;
          }
        }
      }
      &.vertical {
      }
    }

    &.circle {
      &.horizontal {
      }

      &.vertical {
      }
    }

    &.rectangle {
      &.horizontal {
      }

      &.vertical {
      }
    }
  }
}
