.magnetic-tile {
  display: grid;
  padding: 0px;
  margin: 0 auto;
  outline: none;
  justify-content: center;
  grid-auto-flow: row dense;
  row-gap: var(--magnetic-tile-gap-y, 30px);
  column-gap: var(--magnetic-tile-gap-x, 30px);

  @include magnetic-tile;
}
